target
out
classes
data

stacktrace.log

*.class
*.log
*.exe
*.iml
*.iws
*.ipr
*.tmproj
.classpath
.project
.metadata
.idea
.internal
Thumbs.db
.DS_Store?
.svn
*.*~

.reverts
.reverts/*

Screenshot*.png
CodeNarcReport.html
